# EditorConfig is awesome: https://EditorConfig.org

# Root file
root = true

# Optimized to UNIX like OS
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Keep trailing on Markdown
[*.md]
trim_trailing_whitespace = false
