# EditorConfig is awesome: https://EditorConfig.org
#
# Root file
root = true

# General configuration for the code files
[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Better JSON spacing
[*.json]
indent_size = 2

# Markdown trailling is unrequired for line breaks
[*.md]
trim_trailing_whitespace = false
