# Normalize files
* text=auto eol=lf

# Set Markdown as main language of repository
*.md text diff=markdown linguist-language=Markdown linguist-detectable -linguist-documentation

# Put Images and Data as binary
*.png binary -text
*.jpg binary -text
*.svg binary -text
*.pdf binary -text
*.xml binary -text
